@import url(common.css);

/* ______________ GLOBAL______________________ */
body {
  background-color: #feedd9;
}
.conteiner {
  width: 1200px;
  margin: 0 auto;
}

.top {
  padding: 20px 0px;
}

div {
  outline: 3px solid red;
  font-size: 35px;
}

/* ______________ LINE 1 ______________________ */
.line_1 {
  background: #00ffff;
  display: flex;
}

.line_1 > div {
  width: 400px;
  height: 400px;
  overflow: hidden;
}

/* ______________ LINE 2 ______________________ */
.line_2 {
  background: #adff2f;
  display: flex;
}

.line_2_block_1 {
  width: 800px;
  overflow: hidden;
}

.line_2_block_1_cell {
  height: 200px;
  overflow: hidden;
}

.line_2_block_2 {
  width: 400px;
 }

.line_2_block_2_cell {
  height: calc(400px / 3);
  overflow: hidden;
}

/* ______________ LINE 3 ______________________ */
.line_3 {
  background: #ff8c00;
  display: flex;
}

.line_3_block_1 {
  width: 400px;
  height: 400px;
  overflow: hidden;
}

.line_3_block_2_top {
  width: 800px;
  height: 200px;
  overflow: hidden;
}

.line_3_block_2_bottom {
  display: flex;
}

.line_3_block_2_bottom {
  overflow: hidden;
}

.line_3_block_2_bottom_block_1_cell {
  width: 400px;
  height: 200px;
}

.line_3_block_2_bottom_block_2_cell {
  width: 400px;
  height: 100px;
  overflow: hidden;
}
